@use "sass:map";
@use "@angular/material" as mat;

@use "themecolors/blue_theme";

@use "variables" as *;
@use "override-component";
@use "theme-variables/default-variables";
@use "theme-variables/light-theme-variables";

//container layout
@use "layouts/transitions";
@use "helpers/color";
@use "helpers/border-color";
@use "helpers/icon-size";
@use "container";
@use "layouts/layouts";
@use "grid/grid";
@use "helpers/custom-flex";
@use "helpers";

// pages
@use "pages/auth";
@import "pages/dashboards";

.shadow {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}


.main-form {
    @extend .shadow;
    @extend .rounded;
    @extend .p-15;
    margin-top: 20px;
}


//TODO COLOCA TODAS LAS CULUMNAS DE LAS TABLAS EN MINUSCULAS  Y CON UN TONO DE AZUL
thead .mat-mdc-header-row {

    color: var(--mat-sys-primary) !important;
    text-transform: lowercase;

}

//TODO COLOCA TODOS LOS TH EN UN GROSOR MAS ALTO Y TAMAÑO
thead .mat-mdc-header-row th {
    font-size: 16px !important;
    font-weight: 800 !important;
}

.warning-btn {
    background-color: #eb984e !important;
}

.danger-btn {
    background-color: #e74c3c !important;
}