<mat-toolbar class="topbar gap-10">

  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-lg-none justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>


  <span class="flex-1-auto"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="marcarNotificacionesComoLeidas()"
    aria-label="Notifications" [class]=" filterNotifiersNotLeidas != 0 ?'notification-animate':''">
    <i-tabler class="d-flex" name="bell" [matBadge]="filterNotifiersNotLeidas"></i-tabler>
  </button>

  <mat-menu #menu="matMenu" class="notifications-menu">
    <div class="scroll-container">
      @for (notification of notificaciones; track $index) {
      <div class="p-10 shadow-sm" style="display: flex; flex-direction: column; gap: 0px;"
        [ngClass]="'notificacion-' + notification.tipo">

        <div class="d-flex justify-content-between align-items-center">
          <span class="f-s-10 f-w-800">
            {{ notification.tipo|titlecase }}
          </span>
          <button (click)="deleteNotification(notification.id)" mat-icon-button style="font-size: 16px;">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <span class="f-s-15 f-w-600 m-b-5">
          {{ notification.titulo }}
        </span>
        <span class="f-s-12 f-w-400">
          {{ notification.mensaje }}
        </span>
        <span class="f-s-9 f-w-400 m-t-20" style="display: flex; justify-content: end;">
          {{ notification.created_at | date: 'dd/MM/yyyy, h:mm a' }}
        </span>
      </div>
      }
    </div>
  </mat-menu>
  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <!-- <a mat-flat-button href="https://adminmart.com/product/modernize-angular-admin-dashboard/?ref=56"
    target="_blank" class="d-flex justify-content-center bg-success">
    Check Pro Template
  </a> -->
  <div class="m-l-10" style="display: flex; flex-direction: column; align-items: end;">
    <span class="m-0 f-s-18">{{user.nombre}}</span>
    <span class="m-0 f-s-12  f-w-600 text-primary">{{user.cargo}}</span>
  </div>

  <button mat-mini-fab [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover d-block" width="35" />
  </button>
  <mat-menu #profilemenu="matMenu" class="cardWithShadow topbar-dd">

    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon>
      Perfil
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon>
      Cuenta
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i-tabler name="list-check"
          class="icon-18 d-flex"></i-tabler></mat-icon>Tareas
    </button>

    <div class="p-x-12 m-t-12">
      <a (click)="logout()" mat-stroked-button class="w-100">Salir</a>
    </div>
  </mat-menu>
</mat-toolbar>