<app-buttons-header (addEvent)="openModal()"></app-buttons-header>

<section class="main-form">

  <mat-card>
    <mat-card-content>
      <mat-card-title>Listado de Cargos</mat-card-title>

      <div class="table-responsive">
        <!-- Filtrado de la tabla -->
        <div class="row">
          <div class="col-lg-6">
            <!-- input -->
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input (keyup)="filtro($event)" matNativeControl type="search" />
            </mat-form-field>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 p-l-0">
              Nombre
            </th>
            <td mat-cell *matCellDef="let usuario" class="p-l-0">
              <h6 class="f-s-14 f-w-600">
                {{ usuario.nombre }}
              </h6>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 p-l-0">
              Correo
            </th>
            <td mat-cell *matCellDef="let usuario" class="p-l-0">
              <h6 class="f-s-14 f-w-600">
                {{ usuario.email }}
              </h6>
            </td>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 p-l-0">
              Teléfono
            </th>
            <td mat-cell *matCellDef="let usuario" class="p-l-0">
              <h6 class="f-s-14 f-w-600">
                {{ usuario.telefono }}
              </h6>
            </td>
          </ng-container>

          <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-15 p-l-0">
              Cargo
            </th>
            <td mat-cell *matCellDef="let usuario" class="p-l-0">
              <h6 class="f-s-14 f-w-600">
                {{ usuario.cargo }}
              </h6>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas"></tr>
          <!-- Symbol Column -->
          <ng-container matColumnDef="budget">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"></th>

            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="openModal(element)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button (click)="eliminar(element.id)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

        </table>
        <!-- Paginator -->
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</section>


<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Formulario de Usuarios</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input [(ngModel)]="usuario.nombre" matInput placeholder="Tu nombre" />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="f-w-600 m-b-8 d-block">Apellido</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input [(ngModel)]="usuario.apellido" matInput placeholder="Tu apellido" />
        </mat-form-field>
      </div>

      <div class="col-12">
        <!-- input -->
        <mat-label class="f-w-600 m-b-8 d-block">Correo</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input [(ngModel)]="usuario.email" matInput type="email" placeholder="correo@gmail.com" />
        </mat-form-field>
      </div>

      <div class="col-12">
        <!-- input -->
        <mat-label class="f-w-600 m-b-8 d-block">Teléfono</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input [(ngModel)]="usuario.telefono" matInput type="text" placeholder="04124567856" />
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-label class="f-w-600 m-b-8 d-block">Persona</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(value)]="usuario.id_rol">
            @for(option of cargos; track option.id) {
            <mat-option [value]="option.id">{{
              option.nombre
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <!-- Label -->
        <mat-label class="f-w-600 m-b-8 d-block">Contraseña</mat-label>

        <!-- Campo con ojito -->
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput [(ngModel)]="usuario.password" [type]="hide ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar u ocultar contraseña'"
            [attr.aria-pressed]="!hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <!-- Label -->
        <mat-label class="f-w-600 m-b-8 d-block">Confirmar Contraseña</mat-label>

        <!-- Campo con ojito -->
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput [(ngModel)]="usuario.confirm_password" [type]="hide2 ? 'password' : 'text'"
            (blur)="confirmarPassword()" />
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Mostrar u ocultar contraseña'"
            [attr.aria-pressed]="!hide2">
            <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>


    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button (click)="refrescarUsuario()" mat-stroked-button color="error">
      refrescar
    </button>
    <button (click)="dialogRef.close(this.dialogTemplate);" mat-stroked-button color="error">
      cancelar
    </button>
    <button (click)="guardar()" mat-flat-button color="primary" matBadgeColor="accent">
      Guardar
    </button>
  </mat-dialog-actions>
</ng-template>

<app-loading [loading]="loading"></app-loading>